.active {
  background-color: #14203b;
  color: #3BC7FF;
  font-weight: bold;
}
.sidebar {
  width: 250px;
  background-color: #1e2a47;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}