:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 250px;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: 250px;
}
